<!-- 33. Create AJS application to develop getDept by using Factory method. -->
<html>
<head>
	<title></title>
	<style type="text/css">
			h3{
				text-align: center;
				padding: 20px;
				font-size: 30px;
				background-color: lightblue;
				color: white;
				margin: 0;
			}
		</style>
</head>
<body ng-app="myApp">
		<h3>Working with Services In Angular JS</h3>
			<hr>
			<div ng-controller="democontroller">
				Product Name : 
				<input type="text" name="" ng-model="pname">
				<br>
				Unit Price :
				<input type="number" name="" ng-model="price">
				<br>
				Quantity :
				<input type="text" name="" ng-model="quantity">
				<br>
				<input type="button" name="" ng-click="f2()" value="Get Data">
				<h1>{{result}}</h1>
			</div>
			<script type="text/javascript" src="angular.js"></script>
			<script type="text/javascript" src="app.js"></script>
	</body>
</html>